resources:
  repositories:
    - repository: templates
      type: github
      name: dirigeants/pipelines
      endpoint: bdistin

trigger:
- master

jobs:
  - job: "Lint"
    pool:
      vmImage: 'ubuntu-16.04'
    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '10.x'
        displayName: 'Install Node.js'
      - script: yarn
      - script: 'yarn test:lint'

  - template: scripts/.azure-test-template.yml
    parameters:
      name: Linux
      vmImage: 'ubuntu-16.04'

  - template: scripts/.azure-test-template.yml
    parameters:
      name: Mac
      vmImage: 'macOS-10.13'

  - template: scripts/.azure-test-template.yml
    parameters:
      name: Windows
      vmImage: 'vs2017-win2016'

  - template: docs.yml@templates
    parameters:
      ghRef: 'github.com/bdistin/fs-nextra'
      targetBranch: 'gh-pages'
      dependsOn:
        - Linux
        - Mac
        - Windows
      condition: success()
